@model IEnumerable<Models.Framework.DIENNUOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MADIENNUOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONG.MAPHONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANLY.MAQL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHISODIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHISONUOC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MADIENNUOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONG.MAPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUANLY.MAQL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHISODIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHISONUOC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MADIENNUOC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MADIENNUOC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MADIENNUOC })
        </td>
    </tr>
}

</table>
