@model IEnumerable<Models.Framework.THANNHAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SINHVIEN.MATKHAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOTENCHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGHENGHIEPCHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTCHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOTENME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGHENGHIEPME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SINHVIEN.MATKHAU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTENCHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGHENGHIEPCHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTCHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTENME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGHENGHIEPME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MATHANNHAN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATHANNHAN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MATHANNHAN })
        </td>
    </tr>
}

</table>
